<ion-view view-title="Carrito de compras">
    <ion-content class="cart">
        <div class="row">
            <div class="col col-50">
                <button ng-click="cleanCart()" class="button button-block button-assertive">Limpiar Carrito</button>
            </div>
            <div class="col col-50">
                <button ng-click="processOrder()" class="button button-block button-positive">Procesar Orden</button>
            </div>
        </div>
        <ion-list>
            <div ng-repeat="product in cart">
                <div class="item item-divider">
                    <span class="product-name" style="white-space: normal; word-wrap: break-word; word-break: break-all;">{{ product.nombre }}</span>
                </div>
                <div class="item">
                    <span style="font-weight: bold;">Costo Total:</span> {{ product | totalPrice }}
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" style="font-weight: bold;">Cantidad</span>
                    <input type="number" ng-model="product.cantidad" ng-value="product.cantidad">
                </label>
            </div>
        </ion-list>
    </ion-content>
</ion-view>