<ion-view view-title="Cheques devueltos">
    <ion-content class="checks">
        <div class="card" ng-show="checks !== undefined ? checks.length === 0 : true">
            <div class="item item-text-wrap">
                <h2>No se encontró ningún cheque devuelto</h2>
            </div>
        </div>
        <div ng-repeat="check in checks" class="list card">
            <div class="item item-divider check-header">
                <div><span style="font-weight: bold">Cliente:</span> {{ check.cliente }}</div>
                <div><span style="font-weight: bold">Fecha: </span> {{ check.fecha }}</div>
            </div>

            <div class="item item-icon-left">
                <div>
                    <i class="icon ion-clock"></i>
                    <div style="font-weight: bold;">Fecha de Rebote</div>
                    <div>{{ check.fecha_rebote }}</div>
                </div>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-briefcase"></i>
                <div style="font-weight: bold;">Banco</div>
                <div>{{ check.banco }}</div>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-information"></i>
                <div style="font-weight: bold;">Número</div>
                <div>{{ check.numero }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>