<ion-view view-title="Procesar orden de compra">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                Seleccione un cliente
                </div>
                <select ng-model="customerSelected" ng-change="onSelect(customerSelected)">
                    <option ng-repeat="customer in customers" value="{{ customer }}">{{ customer.nombres }} {{ customer.apellidos }}</option>
                </select>
            </label>
        </div>
        <button ng-click="processOrder(customerSelected)" ng-disabled="customerSelected === undefined" class="button button-positive">Terminar</button>
    </ion-content>
</ion-view>