<ion-view view-title="Cliente">
  <ion-content class="customer">
    <div class="list">
      <div class="item item-divider">
        Información Básica
      </div>
      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Nombres *</strong></span>
          <input type="text" ng-model="cliente.nombres" placeholder="Nombres">
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Apellidos *</strong></span>
          <input type="text" ng-model="cliente.apellidos" placeholder="Apellidos">
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>RIF *</strong></span>
          <input type="text" ng-model="cliente.rif" placeholder="RIF">
        </label>
      </div>

      <div class="item item-divider">
        Contacto
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><strong>Teléfono Móvil *</strong></span>
          <input type="text" ng-model="cliente.telefono_movil" placeholder="Teléfono Móvil">
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Teléfono Habitación</span>
          <input type="text" ng-model="cliente.telefono_habitacion" placeholder="Teléfono Habitación">
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fax</span>
          <input type="text" ng-model="cliente.fax" placeholder="Fax">
        </label>
      </div>

      <div class="item item-divider">
        Direcciones
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dirección Fiscal</span>
          <textarea rows="2" ng-model="cliente.direccion_fiscal" placeholder="Dirección Fiscal"></textarea>
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dirección de Entrega</span>
          <textarea rows="2" ng-model="cliente.direccion_entrega" placeholder="Dirección de Entrega"></textarea>
        </label>
      </div>

      <div class="item">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Zona</span>
          <input type="text" ng-model="cliente.zona" placeholder="Zona">
        </label>
      </div>
    </div>

    <div class="button-bar">
      <button ng-click="cancel()" class="button button-block button-assertive">Cancelar</button>
      <button ng-click="create()" ng-disabled="checkFields()" class="button button-block button-positive">Crear</button>
    </div>
  </ion-content>
</ion-view>