<ion-view view-title="Clientes">
  <ion-content class="customers">
    <div class="card" ng-show="customers !== undefined ? customers.length === 0 : true">
      <div class="item item-text-wrap">
        <h2>No se encontró ningún cliente registrado</h2>
      </div>
    </div>
    <div ng-repeat="customer in customers" class="list card">
      <div class="item item-header">
        <h2>{{ customer.nombres + ' ' + customer.apellidos }}</h2>
      </div>
      <div class="item item-body">
        <p ng-if="customer.rif !== '' && customer.rif !== undefined">
          <span class="customer-item">RIF:</span> {{ customer.rif }}
        </p>
        <p ng-if="customer.telefono_movil !== '' && customer.telefono_movil !== undefined">
          <span class="customer-item">Celular:</span> {{ customer.telefono_movil }}
        </p>
      </div>
      <div class="button-bar">
        <button ng-click="sell(customer.codigo)" class="button icon-left ion-cash button-positive">Vender</button>
        <button ng-click="edit(customer.codigo)" class="button icon-left ion-edit button-balanced">Editar</button>
        <button ng-click="delete(customer.codigo)" class="button icon-left ion-trash-a button-assertive">Eliminar</button>
      </div>
    </div>
  </ion-content>
  <button ng-click="create()" class="fab-button">+</button>
</ion-view>