<ion-content class="padding">
  <div class="login">
    <div class="logo">
      <img src="img/logo.jpg" alt="Ferrepacifico">
    </div>
    </br>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Iniciar Sesión</button>
        </label>
      </div>
    </form>
  </div>
</ion-content>