<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/customers">
          Clientes
        </ion-item>
        <ion-item menu-close href="#/app/products">
          Productos
        </ion-item>
        <ion-item menu-close href="#/app/orders">
          Ordenes de compra
        </ion-item>
        <ion-item menu-close href="#/app/checks">
          Cheques devueltos
        </ion-item>
        <ion-item menu-close ng-click="updateProducts()">
          Actualizar productos
        </ion-item>
        <ion-item menu-close ng-click="sync()">
          Sincronizar
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>