<ion-view view-title="Ordenes de compra">
    <ion-content class="orders">
        <div class="card" ng-show="orders !== undefined ? orders.length === 0 : true">
            <div class="item item-text-wrap">
                <h2>No se encontró ninguna orden de compra</h2>
            </div>
        </div>
        <div ng-repeat="order in orders" class="list card">
            <div class="item item-divider">
                <span class="order-title" style="font-weight: bold;">Orden del día {{ order.fecha }}</span>
            </div>
            <ion-item style="border-bottom: 1px solid lightgrey;">
                <div style="font-weight: bold;">Cliente:</div>
                <div>{{ order.nombres_cliente }} {{ order.apellidos_cliente }}</div>
                <div>{{ order.rif_cliente }}</div>
            </ion-item>
            <ion-item style="font-weight: bold;">Productos</ion-item>
            <ion-list ng-repeat="product in order.productos">
                <ion-item>
                    <div>{{ product.nombre }}</div>
                    <div><span style="font-weight: bold;">Cantidad: </span>{{ product.cantidad }}</div>
                    <div><span style="font-weight: bold;">Sub Total: </span>{{ product.cantidad * product.costo }}</div>
                </ion-item>
            </ion-list>
            <ion-item style="border-top: 1px solid lightgrey">
                <span style="font-weight: bold;">Monto Total: </span>{{ order.total }}
            </ion-item>
            <ion-item>
                <button ng-click="delete(order.codigo)" class="button button-assertive">
                  <i class="icon ion-trash"></i>
                    Eliminar
                  </button>
            </ion-item>
        </div>
    </ion-content>
</ion-view>