<ion-view>
    <ion-nav-title ng-hide="search">
        Productos
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <span ng-show="search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchText" placeholder="Buscar por nombre" ng-change="doSearch(searchText)">
            </label>
            <button ng-click="cancelSearch()" class="button button-small button-outline button-light">
                Cancelar
            </button>
        </span>
        <span ng-hide="search">
            <button ng-click="goToCart()" class="button button-icon icon ion-ios-cart">            
            </button>
            <span class="badge badge-balanced total-cart"> {{ cart.length }}</span>
        <button ng-click="goSearch()" class="button button-icon icon ion-search"></button>
        </span>
    </ion-nav-buttons>
    <ion-content class="products">
        <ion-list>
            <ion-item class="product" ng-repeat="product in productList" ng-click="openProductModal(product.codigo)">
                <h2 style="font-weight: bold; white-space: normal; font-size: 1.2rem; word-wrap: break-word; word-break: break-all;">{{ product.nombre }}</h2>
                <div class="row row-center">
                    <div class="col col-center col-33">
                        <div class="row row-center no-padding">
                            <div class="col product-image no-padding">
                                <img ng-src="{{ product.imagen }}">
                            </div>
                        </div>
                        <div class="row no-padding no-margin">
                            <div class="col no-padding no-margin"></div>
                        </div>
                        <div class="row no-padding no-margin">
                            <div class="col no-padding no-margin"></div>
                        </div>
                        <!--<div class="row row-center no-padding no-margin">
                            <div class="col no-padding no-margin">
                                <button ng-click="openProductModal(product.codigo)" class="button button-block button-positive">COMPRAR</button>
                            </div>
                        </div>-->
                    </div>
                    <div class="col col-center col-67 product-attrs">
                        <div class="row row-center">
                            <div class="col no-padding no-margin">
                                <span class="attr">Código:</span> <span class="value">{{ product.codigo_referencia }}</span>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-center no-padding no-margin">
                                <span class="attr">Existe:</span> <span class="value">{{ product.existencia }}</span>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-center no-padding no-margin">
                                <span class="attr">Unidad:</span> <span class="value">{{ product.unidad }}</span>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-center no-padding no-margin">
                                <span class="attr">Precio:</span> <span class="value price">{{ product.precio }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="moreProductsCanBeLoaded()"
            on-infinite="loadMoreProducts()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>