<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Añadir producto</h1>
    </ion-header-bar>
    <ion-content class="single-product">
        <ion-list>
            <ion-item>
                <h2 style="font-weight: bold; white-space: normal; font-size: 1.2rem; word-wrap: break-word; word-break: break-all;">{{ productSelected.nombre }}</h2>
                <div class="row">
                    <div class="col col-33 product-image">
                        <img ng-src="{{ productSelected.imagen }}">                        
                    </div>
                    <div class="col col-67 product-attrs">
                        <ion-list>
                            <ion-item>
                                <span class="attr">Código:</span> <span class="value">{{ productSelected.codigo_referencia }}</span>
                            </ion-item>
                            <ion-item>
                                <span class="attr">Existe:</span> <span class="value">{{ productSelected.existencia }}</span>
                            </ion-item>
                            <ion-item>
                                <span class="attr">Unidad:</span> <span class="value">{{ productSelected.unidad }}</span>
                            </ion-item>
                            <ion-item>
                                <span class="attr">Precio:</span> <span class="value price">{{ productSelected.precio }}</span>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="number" ng-model="quantity">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <button ng-click="closeModal()" class="button button-block button-assertive">Cancelar</button>
                    </div>
                    <div class="col col-50">
                        <button ng-click="addProduct(quantity)" class="button button-block button-positive">Añadir</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>