@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
.login {
    overflow: hidden;
}

.logo {
    margin: 4rem 0;
}

.logo img {
    max-width: 100%;
}

.customer .button {
    margin-left: 2px;
    margin-right: 2px;
}

.customers .customer-item {
    font-weight: 900;
}

.customers h2 {
    font-weight: 900;
}

.customers .button-bar .button {
    font-size: 14px;
}

.fab-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    background-color: #387EF5;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #387EF5;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 998;
}

.total-cart {
    margin-top: 5px;
    margin-bottom: 8px;
    max-height: 50%;
    font-size: 100%;
}

.products .product {
    border-bottom: 2px solid #dedede;
}

.products .product h2 {
    color: #387EF5 ! important;
}

.products .list .item {
    padding: 10px ! important;
}

.single-product .list .item {
    padding: 10px ! important;
}

.single-product input {
    width: 100%;
}

.single-product .product-image img {
    margin-top: 1rem;
}

.single-product h2 {
    color: #387EF5 ! important;
}

.product-title {
    font-weight: bold;
    font-size: 1.8rem;
}

.item-block {
    max-height: 22.6rem;
}

.product-image img {
    /*border: 1px solid lightgray;*/
    border-radius: 2px;
    text-align: center;
    width: 125%;
}

.product-attrs .col {    
    padding: 10px;
}

.attr {
    padding-left: 25px;
    font-weight: 800;
    float: left;
}

.value {
    padding-right: 15px;
    font-weight: lighter;
    float: right;
}

.price {
    color: #387EF5;
    font-weight: bold ! important;
}

.checks .check-header {
    color: #387EF5;
}

.orders .order-title {
    color: #387EF5;
}

.orders .list .item {
    padding: 10px ! important;
}

.cart .product-name {
    color: #387EF5;
    font-weight: bold;
}

.no-padding {
    padding: 0 ! important;
}

.no-margin {
    margin: 0 ! important;
}